@import "compass/typography/lists/";
@import "compass/utilities/general/float";
@import "compass/utilities/general/clearfix";

$form-label-width: 100px;
$form-label-margin: 5px;
$form-value-spacing: $form-label-width + $form-label-margin;

$success-color: #264409;
$success-bg-color: #e6efc2;
$success-border-color: #c6d880;
$error-color: #8a1f11;
$error-bg-color: #fbe3e4;
$error-border-color: #fbc2c4;

#container {
  .grey {
    color: lightgrey;
  }
  .toolbar {
    padding-bottom: 15px;
  }

  #notifications {
    p {
      padding: 10px;
      margin: 1em 0;
      border-width: 1px;
      border-style: solid;

      &.error {
        color: $error-color;
        background-color: $error-bg-color;
        border-color: $error-border-color;
      }

      &.success {
        color: $success-color;
        background-color: $success-bg-color;
        border-color: $success-border-color;
      }

    }

  }

  ul.switches {
    @include no-bullet;

    > li {

      > span.switch-name {
        font-family: menlo,monospace;
        font-size: 18px
      }
      > form {
        @include clearfix;

        clear: both;
        margin-top: 20px;

        ul.errorlist {
          color: $error-color;
          font-weight: bold;
          margin-left: $form-value-spacing;
        }

        label {
          @include float-left;
          display: block;
          font-weight: bold;
          margin-right: $form-label-margin;
          text-align: right;
          width: $form-label-width;
        }

        #id_switch_block_text {font-family: monospace; width: 450px; height: 450px;}
        input[type=text] { width: 200px }
        input[name=name] {
          font-size: 1.5em;
          width: 600px;
        }
        input[type=submit] { margin-left: $form-label-width; }
        textarea { width: 350px; height: 50px; }

        button {
          padding: 3px 8px;

          &[data-action=add] { margin-left: $form-value-spacing }
        }

        section.conditions {
          background: #F9F9F9;
          padding: 10px 0;
        }

        ul.conditions {
          @include no-bullet;

          margin-left: $form-value-spacing;

          input { width: 100px; }

          li {
            @include clearfix;
          }

          li + li {
            margin-top: 5px;
          }

          label {
            display: none;
          }

          section.condition, button {
            @include float-left;
          }

          .added, button {
            margin-left: 4px;
          }
        }

        section.actions {
          margin-top: 20px;
        }
      }

    }

  }

}
