{% extends "nexus/module.html" %}

{% load gargoyle_helpers %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% url nexus:media 'gargoyle' 'css/gargoyle.css' %}">
{% endblock %}

{% block content %}
    <div class="toolbar" data-sort="{{ sorted_by }}">
        <button class="button addSwitch">Add a Switch</button>

        <!--
        <span class="switchTest">
            <input type="text">
            <button class="button">Test Switch</button>
        </span>
        -->
        <span class="search">
            <input type="text" placeholder="search">
        </span>
    </div>

    {% if switches %}
        <ul class="switches">
        {% for switch in switches %}
            <li data-switch-state="{{ switch.state }}">
                <div class="info">
                    <h1>
                        {{ switch.label }}
                        <span class="name">{{ switch.name }}</span>
                    </h1>
                    <p class="description">{{ switch.description }}</p>
                </div>

                <div class="state">
                    <h2>{{ switch.state_string|title }}</h2>
                    {% if switch.conditions %}
                        <ul class="conditions">
                        {% for condition in switch.conditions %}
                            <li>{{ condition }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>

            </li>
        {% endfor %}
        </ul>
    {% else %}
        No switches configured
    {% endif %}


{% endblock %}
