@charset "UTF-8";
#container div.wrapper > h1 {
  display: none;
}
#container div.noSwitches {
  margin: 20px 0 0 0;
  text-align: center;
}
#container div.toolbar {
  border-bottom: solid 1px #e5e5e5;
  padding-bottom: 20px;
}
#container div.toolbar span.switchTest {
  float: right;
}
#container div.toolbar span.switchTest input {
  font-size: 13px;
  padding: 5px;
  width: 200px;
}
#container div.toolbar span.search {
  padding-top: 3px;
  float: right;
}
#container div.toolbar ul.sort {
  float: right;
  list-style: none;
  padding: 10px 20px 10px 0;
  margin: 0 20px 0 0;
  border-right: 1px solid #EAEAEA;
}
#container div.toolbar ul.sort li {
  display: inline-block;
}
#container div.toolbar ul.sort li a {
  color: #999;
  display: block;
}
#container div.toolbar ul.sort li + li {
  margin-left: 10px;
}
#container div.toolbar[data-sort=-label] ul.sort li.label a, #container div.toolbar[data-sort=-date_created] ul.sort li.date_created a, #container div.toolbar[data-sort=-date_modified] ul.sort li.date_modified a, #container div.toolbar[data-sort=label] ul.sort li.label a, #container div.toolbar[data-sort=date_created] ul.sort li.date_created a, #container div.toolbar[data-sort=date_modified] ul.sort li.date_modified a, #container div.toolbar[data-sort=""] ul.sort li.date_modified a {
  color: #000;
  font-weight: bold;
}
#container div.toolbar[data-sort=-label] ul.sort li.label a:after, #container div.toolbar[data-sort=-date_created] ul.sort li.date_created a:after, #container div.toolbar[data-sort=-date_modified] ul.sort li.date_modified a:after {
  content: " ▴";
}
#container div.toolbar[data-sort=label] ul.sort li.label a:after, #container div.toolbar[data-sort=date_created] ul.sort li.date_created a:after, #container div.toolbar[data-sort=date_modified] ul.sort li.date_modified a:after, #container div.toolbar[data-sort=""] ul.sort li.date_modified a:after {
  content: " ▾";
}
#container div.toolbar span.search input {
  width: 200px;
  padding: 6px;
  font-size: 13px;
}

#container ul.switches {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
#container ul.switches > li {
  overflow: hidden;
  *zoom: 1;
  padding: 10px 0;
}
#container ul.switches > li + li {
  border-top: 1px solid #EFEFEF;
}
#container ul.switches > li .info {
  display: inline;
  float: left;
  overflow: hidden;
  *zoom: 1;
  width: 60%;
}
#container ul.switches > li .info h1 {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 5px;
}
#container ul.switches > li .info h1 span.name {
  color: #999;
  font-family: monospace;
}
#container ul.switches > li .info p.description {
  color: #444;
  font-size: 90%;
}
#container ul.switches > li .state {
  display: inline;
  float: right;
  width: 30%;
  text-align: right;
}
#container ul.switches > li .state h2 {
  margin-bottom: 5px;
}
#container ul.switches > li .state ul.conditions {
  list-style-type: none;
  margin-bottom: 0;
}
#container ul.switches > li .state ul.conditions, #container ul.switches > li .state ul.conditions li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
