<form action="{% url gutter:update 'foo' %}" method="post">
    {% csrf_token %}
    {{ switch.as_p }}

    <section class="conditions">
        {{ switch.conditions.management_form }}
        <label for="conditions">Conditions:</label>
        <ul class="conditions">
        {% for condition in switch.conditions %}
        <li>
            <section class="condition">{{ condition }}</section>
            <button data-action="remove">Remove</button>
        </li>
        {% endfor %}
        </ul>
        <button data-action="add">Add a Condition</button>
    </section>

    <input type="submit">
</form>