<form action="{% url gutter:update %}" method="post">
    {{ switch.as_p }}

    <section class="conditions">
        {{ switch.conditions.management_form }}
        <label for="conditions">Conditions:</label>
        <ul class="conditions">
        {% for condition in switch.conditions %}
        <li>
            {{ condition }}
            <button data-action="remove">Remove</button>
        </li>
        {% endfor %}
        </ul>
        <button data-action="add">Add a Condition</button>
    </section>
</form>