{% extends "nexus/module.html" %}

{% load gutter_helpers %}

{% block head %}
    {{ block.super }}
    {# <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" /> #}
    <link rel="stylesheet" href="{% url 'nexus:media' 'gutter' 'css/gutter.css' %}">

    <script type="text/javascript" src="{% url 'nexus:media' 'gutter' 'js/jquery-1.9.1.min.js' %}"></script>
    <script type="text/javascript" src="{% url 'nexus:media' 'gutter' 'js/gutter.js' %}"></script>
    <script type="text/javascript" src="{% url 'nexus:media' 'gutter' 'js/jquery.collapse.js' %}"></script>
    <script type="text/javascript" src="{% url 'nexus:media' 'gutter' 'js/jquery.collapse_storage.js' %}"></script>
    <script type="text/javascript" src="{% url 'nexus:media' 'gutter' 'js/jquery.collapse_cookie_storage.js' %}"></script>


{% endblock %}


{% block content %}

    <div class="toolbar">
        <button class="button addSwitch">Add a Switch</button>
    </div>

    {% for kind, notice in notices.items %}
    <section id="notifications">
        <p class="{{ kind }}">{{ notice }}</p>
    </section>
    {% endfor %}

    {% with new_switch as switch %}
        <div id="switch-__new__" class="switch_form">{% include "gutter/switch.html" %}</div>
    {% endwith %}

    <div class="switches" data-collapse="persist">
        {% include "gutter/switch_nest.html" %}
    </div>

    <ul id="condition-form-prototype" style="display: none">
        <li>
            <section class="condition">{{ new_switch.conditions.empty_form }}</section>
            <button data-action="remove">Remove</button>
        </li>
    </ul>

{% endblock %}
